
# avoids building a PR twice, once for a branch and another due to the PR status
# see: https://github.com/travis-ci/travis-ci/issues/1147#issuecomment-160820262
branches:
  only:
    - master
    - /^v\d+\.\d+(\.\d+)?(-\S*)?$/

language: generic

addons:
  chrome: stable

jobs:
  include:
    - stage: Java tests
      script:
        - curl -O https://www.antlr.org/download/antlr-4.7.1-complete.jar
        # generate java
        - java -jar antlr-4.7.1-complete.jar -Xexact-output-dir -o src/java/parcera/antlr -package parcera.antlr -Dlanguage=Java -no-listener -no-visitor src/Clojure.g4
        # now we can actually proceed with clojure code
        - lein do clean, compile, check, eastwood
        - lein trampoline test
        - lein trampoline test :benchmark
    - stage: Js tests
      script:
        - curl -O https://www.antlr.org/download/antlr-4.7.1-complete.jar
        # generate javascript
        - java -jar antlr-4.7.1-complete.jar -Xexact-output-dir -o src/javascript/parcera/antlr -package parcera.antlr -Dlanguage=JavaScript -no-listener -no-visitor src/Clojure.g4
        # pre-bundle javascript
        #- nvm install 10.10 && nvm use 10.10 &&
        - npm init --yes && npm add webpack webpack-cli antlr4
        - npx webpack --config ./resources/webpack.config.js
        - lein test-runner

    - stage: Release
      if: tag IS present
      script:
        - curl -O https://www.antlr.org/download/antlr-4.7.1-complete.jar
        # generate java
        - java -jar antlr-4.7.1-complete.jar -Xexact-output-dir -o src/java/parcera/antlr -package parcera.antlr -Dlanguage=Java -no-listener -no-visitor src/Clojure.g4
        - lein do javac, compile, check
        # todo: include js in out jar
      deploy:
        - provider: script
          script: lein deploy clojars
          skip_cleanup: true
          on:
            tags: true
