^{:extra-main-files {:tests {:main parcera.test-runner}}}
{:main         parcera.core
 :target       :nodejs
 :npm-deps     {"antlr4" "^4.7.2"}
 :install-deps true
 :foreign-libs [{:file        "src/javascript/parcera/antlr/ClojureLexer.js"
                 :module-type :es6
                 :provides    ["parcera.antlr.ClojureLexer"]}
                {:file        "src/javascript/parcera/antlr/ClojureParser.js"
                 :module-type :es6
                 :provides    ["parcera.antlr.ClojureParser"]}]}
