;; https://figwheel.org/docs/testing.html
^{:auto-testing true
  :watch-dirs   ["src/clojure" "test"]}
{:main          parcera.core
 ;; todo: antlr 4.9 requires ecmascript 2018 but currently google closure compiler supports up to 2015 😭
 :npm-deps      {"antlr4" "4.7.2"}
 :install-deps  true
 :infer-externs true}
;:target :nodejs
;{:file        "src/clojure/parcera/antlr/js/ClojureLexer.js"
; :provides    ["antlr.clojure.lexer"]
; :module-type :commonjs}
;{:file        "src/clojure/parcera/antlr/js/ClojureParser.js"
; :provides    ["antlr.clojure.parser"]
; :module-type :commonjs}]}
