^{:launch-js ["google-chrome-stable" "--headless"
              "--remote-debugging-port=9222"
              "--disable-gpu"
              ;"--repl"
              :open-url]}
{:main          parcera.test-runner
 :npm-deps      {"antlr4" "^4.7.2"}
 :install-deps  true
 :infer-externs true
 :foreign-libs  [{:file        "src/javascript/clojure.reader.bundle.js"
                  :provides    ["antlr.clojure.reader"]
                  :module-type :commonjs}]}
